<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.kanyun.phi_band.personal">

    <application>
        <activity android:name=".ui.activity.PersonalActivity"></activity>
        <activity android:name=".ui.LoadingActivity" />
        <activity
            android:name=".ui.LoginRigisterActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.LoginActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.login" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.ForgetPasswordActivity" />
        <activity android:name=".ui.register.RegisterActivity" />
        <activity android:name=".ui.info.PersonInfoSettingActivity" />
        <activity android:name=".ui.PersonInfoModifyActivity" />
        <activity android:name=".ui.AboutActivity" />
        <activity android:name=".ui.AccountManageActivity" />
        <activity android:name=".ui.CheckPhoneActivity" />
        <activity android:name=".ui.AddPhoneActivity" />
        <activity android:name=".ui.ModifyPasswordActivity" />
        <activity android:name=".ui.body.BodyDataActivity" />
        <activity android:name=".ui.IntegralActivity" />
        <activity android:name=".ui.RunClassActivity" />
        <activity android:name=".ui.ShowImageActivity" />
        <activity android:name=".ui.BindPhoneActivity" />
        <activity android:name=".ui.CheckUpdateActivity" />
        <activity
            android:name=".ui.location.LocationActivity"
            android:configChanges="layoutDirection|locale"
            android:theme="@style/link_personal_PersonInfoModify" />
        <activity android:name=".ui.MyTargetActivity" />
        <activity android:name=".ui.StepGoalActivity" />
        <activity android:name=".ui.SleepGoalActivity" />
        <activity
            android:name=".ui.feedback.AdviceFeedbackActivity"
            android:theme="@style/WebCustomDialog" />
        <activity
            android:name=".ui.feedback.WebFeedbackActivity"
            android:theme="@style/WebCustomDialog" />
        <activity
            android:name=".ui.PersonInfoItemModifyActivity"
            android:theme="@style/link_personal_PersonInfoModify" />
        <activity
            android:name=".ui.PersonInfoHeightModifyActivity"
            android:theme="@style/link_personal_PersonInfoModify" />
        <activity
            android:name=".ui.PersonInfoWeightModifyActivity"
            android:theme="@style/link_personal_PersonInfoModify" />
        <activity android:name=".ui.SettingActivity" />
        <activity android:name=".ui.FootprintActivity" />
        <activity android:name=".ui.MyMedalActivity" />
        <activity android:name=".ui.MedalDetailActivity" />
        <activity android:name=".ui.RegistrationCardActivity" />
        <activity android:name=".ui.mybest.MyBestActivity" />
        <activity android:name=".ui.UserQrCodeActivity" />
    </application>

</manifest>