<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.kanyun.phi_band.device">


    <application>
        <activity android:name=".ui.activity.DeviceSettingActivity"></activity>
        <activity android:name=".ui.activity.DeviceActivity" />
        <activity android:name=".ui.binding.DeviceBindingOptionsActivity" />
        <activity android:name=".ui.binding.DeviceQrBindingOptionsActivity" />
        <activity
            android:name=".ui.activity.DeviceSelectActivity"
            android:label="@string/link_device_details_title" />
        <activity
            android:name=".ui.menu.DeviceMenusActivity"
            android:label="@string/link_device_details_title" />
        <activity
            android:name=".ui.setting.DeviceDialSettingActivity"
            android:label="@string/link_device_dial_setting" />
        <activity
            android:name=".ui.setting.DialEditActivity"
            android:hardwareAccelerated="false"
            android:label="@string/link_device_dial_custom_define" />
        <activity android:name=".ui.setting.DeviceGeneralSettingsActivity" />
        <activity
            android:name=".ui.weather.WeatherSettingsActivity"
            android:label="@string/link_device_weather_setting" />
        <activity
            android:name=".ui.weather.WeatherSelectCityActivity"
            android:label="@string/link_device_weather_select_city" />
        <activity
            android:name=".ui.setting.NotificationSettingsActivity"
            android:label="@string/link_device_notification_setting" />
        <activity
            android:name=".ui.firmware.FotaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.firmware.FotaByBtActivity"
            android:screenOrientation="portrait" />

        <receiver android:name=".ui.weather.WeatherAlarmReceiver">
            <intent-filter>
                <action android:name="com.phicomm.link.ui.device.WEATHER_ALARM" />
                <action android:name="com.phicomm.link.common.util.WeatherDataUtils.WEATHER_SYNC" />
            </intent-filter>
        </receiver>

    </application>

</manifest>